In [27]:
import pandas as pd

df = pd.read_excel("data/F000801_20250519143451449_excel.xlsx",skiprows=2,usecols="B,C:L",nrows=2)
df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 1,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,NaN,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"
1,15세 미만,16,15,6,8,10,11,8,10,6,6

In [40]:

# df.rename(columns={"Unnamed: 1":"전체"},inplace=True)
# df.reset_index(inplace=True)
# df.iloc[0,1] = "총합"
# df = df.drop(columns=['level_0', 'index'])
df

,전체,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,총합,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"
1,15세 미만,16,15,6,8,10,11,8,10,6,6

In [ ]:
df.loc['총합'] =df.loc['총합'].str.replace(",","").astype(int)