In [5]:
import pandas as pd

df = pd.read_excel("data/202412_202412_연령별인구현황_연간.xlsx",skiprows=3,usecols='B,E:O',index_col="행정기관",nrows=1)
df

m_df = pd.read_excel("data/202412_202412_연령별인구현황_연간.xlsx",skiprows=3,usecols='B,R:AB',index_col="행정기관",nrows=1)
m_df

w_df = pd.read_excel("data/202412_202412_연령별인구현황_연간.xlsx",skiprows=3,usecols='B,AE:AO',index_col="행정기관",nrows=1)
w_df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세.2,10~19세.2,20~29세.2,30~39세.2,40~49세.2,50~59세.2,60~69세.2,70~79세.2,80~89세.2,90~99세.2,100세 이상.2
행정기관,,,,,,,,,,,
전국,"1,531,058","2,245,507","2,855,132","3,166,585","3,796,703","4,315,099","3,968,224","2,254,795","1,326,374","252,368","7,052"

In [8]:
df.columns
m_df.columns
w_df.columns

df['0~9세']
# m_df['0~9세.1']
# w_df['0~9세.2']

df.columns 

m_df.columns = df.columns 
w_df.columns = df.columns 

w_df.columns

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [10]:
df['0~9세']
m_df['0~9세']
w_df['0~9세']

행정기관
전국      1,531,058
Name: 0~9세, dtype: object

In [11]:
df.describe()
df.info()
# df['0~9세']=df['0~9세'].str.replace(",","")
# df['0~9세']=df['0~9세'].astype(int)
df['0~9세']=df['0~9세'].str.replace(",","").astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 전국   to 전국
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~9세     1 non-null      object
 1   10~19세   1 non-null      object
 2   20~29세   1 non-null      object
 3   30~39세   1 non-null      object
 4   40~49세   1 non-null      object
 5   50~59세   1 non-null      object
 6   60~69세   1 non-null      object
 7   70~79세   1 non-null      object
 8   80~89세   1 non-null      object
 9   90~99세   1 non-null      object
 10  100세 이상  1 non-null      object
dtypes: object(11)
memory usage: 204.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 전국   to 전국
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~9세     1 non-null      int64
 1   10~19세   1 non-null      object
 2   20~29세   1 non-null      object
 3   30~39세   1 non-null      object
 4   40~49세   1 non-null      object
 5   50~59세   1 non-null      object
 6   60~69세   1 non-null      object
 7   70~79세   1 non-null      object
 8   80~89세   1 non-null      object
 9   90~99세   1 non-null      object
 10  100세 이상  1 non-null      object
dtypes: int64(1), object(10)
memory usage: 204.0+ bytes

In [ ]:
df.columns
df['10~19세']=df['10~19세'].str.replace(",","").astype(int)

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')